# General
.DS_Store
*.log
__pycache__/
*.py[cod]

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/

# Environment
.env
.venv
env/
venv/

# Docker
docker-compose.override.yml

# IDE
.vscode/
.idea/

# Firebase
firebase-service-account.json
vivaclub-*.json
railway.txt
VPS/Contabo Customer ID 14676961_ Control Panel Login Details.eml
VPS/Contabo Order ID 14676962_ Order confirmation.eml
VPS/Gmail - Contabo Customer ID 14676961_ Control Panel Login Details.pdf
VPS/Gmail - Contabo Order ID 14676962_ Order confirmation.pdf
VPS/Gmail - Your login data!.pdf
VPS/Your login data!.eml
VPS/namecheap-order-195792492.pdf

Docs/VivaClub - User's behavior and statistic.pdf
Docs/Problem&Progress report/2minShowcase.md
Docs/Problem&Progress report/2026-03-22-one-month-roadmap.md
Docs/Problem&Progress report/architecture-mapping-d2.png
Docs/Problem&Progress report/green.md
Docs/Problem&Progress report/progess.md
Docs/Archive/progess.md
*.zip
viva_remote.sh
Server/vps_manage.sh
